body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav {
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 1px 10px;
}
.logo{
     float: left;
     padding-top: 0%;
     cursor: pointer;
     margin-bottom: 0%;
    margin-left: -2%;
}
.logo img {
    height: 40px;
    transition: transform 0.3s ease;
}
.logo img:hover { transform: scale(1.1); 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
   
}
.navbar a:hover { color: #eec4a9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: rgb(248, 247, 247); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.slider {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.description {
    position: absolute;
    bottom: 30px;
    left: 50px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.historical-footer {
    position: relative;
    background-color: #e9c1a6;
    color: black;
    text-align: center;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.footer-silhouette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.footer-content {
    position: relative;
    z-index: 2;
    padding: 2px;
}

.footer-social {
    margin-bottom: 2px;
}

.footer-social a {
    color: black;
    margin: 0 8px;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: black;
}

.footer-content p {
    margin: 1px 0;
    font-size: 14px;
}


