body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    text-align: center;
    background-image: url('his.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: rgb(10, 8, 8);
    padding: 30vh;
    font-style: italic;
    font-size: 32px;
}
.travel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 30px;
}

.travel-card {
    background-color: rgb(233, 179, 147);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(245, 224, 224, 0.1);
    transition: transform 0.3s ease;
    
}

.travel-card:hover {
    transform: translateY(-5px);
}

.travel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.travel-card h2 {
    font-size: 1.4rem;
    margin: 15px;
    color: #5a4636;
}

.travel-card p {
    padding: 0 15px 20px;
    color: #555;
}

.historical-footer {
    position: relative;
    background-color: #d8b1b1;
    color: black;
    text-align: center;
    padding-top: 73px;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    position: relative;
    z-index: 2;
    padding: 30px;
}

.footer-social {
    margin-bottom: 10px;
}

.footer-social a {
    color: black;
    margin: 0 8px;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: black;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}



/* Navigation Bar */
nav {
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 1px 10px;
}
.logo{
     float: left;
     padding-top: 0%;
     cursor: pointer;
     margin-bottom: 0%;
    margin-left: -2%;
}
.logo img {
    height: 40px;
    transition: transform 0.3s ease;
}
.logo img:hover { transform: scale(1.1); 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
   
}
.navbar a:hover { color: #eec4a9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: rgb(248, 247, 247); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.banner img {
    width: 100%;
    height: auto;
    display: block; 
} 
